.main__shadow{
    box-shadow: 0 8px 17px 0 #6c757d, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.main__nosotros{
    margin: 3% 5% 5%;
    background: linear-gradient(90deg, rgba(0,212,255,1) 33%, rgba(8,38,140,1) 86%, rgba(15,10,101,1) 100%);

    img{
        width: $w-95;
        height: 86%;
    }

    div{
        p{
            margin-left: 7%;
            font-size: larger;
        }
    } 
}

.main__contactos{
    @extend .main__shadow;
    margin: 3% 10% 5%;
    background: #bee3f5;

    p{
        margin-left: 7%;
        font-size: larger;
    }
}

.main__title{
    font-size: 45px;
}