@import "_commons";

.main__presentacion{
    margin-bottom: 10%;
}

.main__presentacion-contenido{
    width: 93%;
    background: #e9ecef;

    img{
        width: $W-90;
        padding-top: 4%;
    }

    p{
        font-size: larger;
        width: $W-90;
    }
} 

.main__terminos{ 
    p{
        margin: 0px 0px 0px 10px;
    }
}

.main__enviar{
    @extend .main__btn;
    width: 11rem;
    height: 50px;
}

.main__form-alquiler{
    width: $W-90;
    background: rgba(0,212,255,1);
    justify-content: space-around;
}

    