//--------------------------------------variables--------------------------------------
$navFooterColor:#bbdcf1;
//-------------------------------------------------------------------------------------
html{
    width: 100%;
}
body{
    margin: 0px;
}
    nav{
        background-color: $navFooterColor;
    }

    nav:hover{
        color:#1B0BFF;
    }
   
    header{
        margin: 100px 0px 100px 0px;
        background-image: url(../img/backgroundNav.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 95%;
        height: 30%;
        color: #fff;
    }
                
    footer{
        background-color: $navFooterColor;
        box-shadow: 0 8px 32px 0 #6c757d, 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
        border-top: 1px solid #c8dbe4 !important;
    }

.nav__cont-buttons{
    flex-grow: unset !important;
}

.btn-outline-secondary{
   border: none !important;
}

.nav__buttons-format-buttom{
    border-radius: 15px;
}

.nav__buttons-format-buttom:hover{
    color: #1B0BFF;
    border: 1px solid #93d1fa !important;
    box-shadow: 0 8px 17px 0 #6c757d, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.nav__icon-color:hover{
    color: #1B0BFF;
}

.footer__link{
    color: var(--bs-body-color);
    text-decoration: none;
}

.footer__text{
    margin-bottom: 5% !important;
}

.footer__socialNetwork{
    text-decoration: none;
}

.footer__socialNetwork-img{
    width: 10%;
}

.justifi-content-evenly{
    justify-content: space-evenly;
}

@media (max-width: 767px) {
    .main__nosotros{
        flex-wrap: wrap;
    }

    header{
        flex-direction: column;
        align-items: center;
    }

    .header__card{
        width: 50% !important;
        margin-bottom: 5% !important;
    }

    .card-title{
        font-size: 16px !important;
    }

    .card__text{
        font-size: 12px
    }

    .footer__text{
        font-size: 16px
    }

    .footer__social{
        width: 66%;
    }

    .footer__social h5{
        width: 75% !important;
    }

    .footer__social div{
        width: 68% !important;
    }

    .main__cont-cards{
        flex-direction: column !important;
        align-items: center;
    }

    .main__card{
        width: 50% !important;
    }

    .main__mantRep{
        flex-direction: column !important;
    }

    .main__titulo-subt p{
        width: 90% !important;
    }

    .main__mantRep article{
        width: 100% !important;
        margin-bottom: 40px;
    }

    .main__selector{
        flex-wrap: wrap !important;
        margin: 0px 5%;
    }

        .main__selector div{
            margin-bottom: 1rem !important;
        }

            .main__selector div label{
                margin-left: 0px !important;
            }

    .main__eleccion-producto{
        flex-direction: column-reverse !important;
    }

        .main__eleccion-producto button{
            margin-bottom: 1rem !important;
        }
    
    .main__subtitulo{
        width: 80%;
    }
    
    .main__nosotros div p{
        margin: 1rem;
    }

    .main__contactos p{
        margin: 1rem !important;
    }

    .main__title{
        text-align: center;
    }

    .form__grilla{
        display: flex !important;
        flex-direction: column !important;
    }
}

.card__text{
    color: black;
}

.shadow-xl{
    box-shadow: 0 8px 17px 0 #6c757d, 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.main__btn{
    color: #fff;
    border: #686256 1px solid;
    background: #00a2c3;
    font-size: larger;
}

.main__btn:hover{
    background: #0087a2 !important;
    border: #686256 1px solid !important;
    color: #fff !important;
    box-shadow:0 2px 7px 0 #6c757d, 0 6px 5px 0 rgb(0 0 0 / 16%);
}

.main__btn:focus{
    background: #0087a2 !important;
    border: #686256 1px solid !important;
    color: #fff !important;
    box-shadow:0 2px 7px 0 #6c757d, 0 6px 5px 0 rgb(0 0 0 / 16%);
}