
.main__producto{
    width: $w-85;
    background: $producto-gradient;
    select{
        width: 30%;
        font-size: larger;
    }

    img{
        width: 60%;
        margin: 3% 0px;
    }

    p{
        width: 80%;
    }

    button{
        width: 150px;
        height: 60px;
    }
}

.main__buscador-detalle{
    color: #fff;
}