.main__mantRep{
    width: $W-90;

    article{
        width: 30%;
        background: #C2C8FF;
        background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    
        p{
            font-size: larger;
            width: $w-85;
        }
    }
}

.main__form-MR{
    width: $W-90;
    margin: 5% 0px;
    background: #C2C8FF;

    a{
        width: 10rem;
    }
}

.form__grilla{
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 0px 5%;
}

.main__cont-wdg{
    width: 30%;
}

.fontFormRM{
    font-size: medium;
}

.separacionWdgMR{
    margin: 10% 0px;
}

.main__cont-Prob{
    margin: 1% 0px;

    label{
        margin: 1% 0px;
    }
}
